<!-- Item: hazirbas:arxiv:2017 -->
<!-- <li >-->
<table style="width:100%">
<tr>
<td style="width:110px;vertical-align: top;">
<img style="float: left;margin-right: 10px" border="1px solid #bbb" src="{{ site.url }}/images/papers/HazLeaCreArxiv2017.png" width="100px" height="100px">
</td>
<td>
<p>
<br />
<strong>Deep Depth from Focus</strong><br />
<i>arXiv:1704.01085</i>,


2017.
<br />

<a href="javascript:toggleBibtex('hazirbas:arxiv:2017')">[BibTeX]</a>

<a href="https://arxiv.org/abs/1704.01085">[PDF]</a>
</p>

<div id="bib_hazirbas:arxiv:2017" class="bibtex noshow">
<pre>
@article{hazirbas:arxiv:2017,
  author = {},
  title = {Deep Depth from Focus},
  journal = {arXiv:1704.01085},
  year = {2017}
}
</pre>
</div>
</td>
</tr>

</table>

<!-- Item: caellescvpr2017 -->
<!-- <li >-->
<table style="width:100%">
<tr>
<td style="width:110px;vertical-align: top;">
<img style="float: left;margin-right: 10px" border="1px solid #bbb" src="{{ site.url }}/images/papers/CaeManPonLeaCreVanCVPR2017.png" width="100px" height="100px">
</td>
<td>
<p>
S. Caelles, K.-K. Maninis, J. Pont-Tuset, L. Leal-Taix&eacute;, D. Cremers and L. Van Gool<br />
<strong>One-Shot Video Object Segmentation</strong><br />
<i>IEEE Conference on Computer Vision and Pattern Recognition (CVPR)</i>,


2017.
<br />

<a href="javascript:toggleBibtex('caellescvpr2017')">[BibTeX]</a>

<a href="https://arxiv.org/abs/1611.05198">[PDF]</a>
</p>

<div id="bib_caellescvpr2017" class="bibtex noshow">
<pre>
@article{caellescvpr2017,
  author = {S. Caelles and K.-K. Maninis and J. Pont-Tuset and L. Leal-Taix&eacute; and D. Cremers and L. Van Gool},
  title = {One-Shot Video Object Segmentation},
  journal = {IEEE Conference on Computer Vision and Pattern Recognition (CVPR)},
  year = {2017}
}
</pre>
</div>
</td>
</tr>

</table>

<!-- Item: walcharxiv2016 -->
<!-- <li >-->
<table style="width:100%">
<tr>
<td style="width:110px;vertical-align: top;">
<img style="float: left;margin-right: 10px" border="1px solid #bbb" src="{{ site.url }}/images/papers/WalHazLeaSatHilCreArxiv2016.png" width="100px" height="100px">
</td>
<td>
<p>
F. Walch, C. Hazirbas, L. Leal-Taix&eacute;, T. Sattler, S. Hilsenbeck and D. Cremers<br />
<strong>Image-based localization using LSTMs for structured feature correlation</strong><br />
<i>arXiv:1611.07890v2</i>,


2016.
<br />

<a href="javascript:toggleBibtex('walcharxiv2016')">[BibTeX]</a>

<a href="https://arxiv.org/abs/1611.07890">[PDF]</a>
</p>

<div id="bib_walcharxiv2016" class="bibtex noshow">
<pre>
@article{walcharxiv2016,
  author = {F. Walch and C. Hazirbas and L. Leal-Taix&eacute; and T. Sattler and S. Hilsenbeck and D. Cremers},
  title = {Image-based localization using LSTMs for structured feature correlation},
  journal = {arXiv:1611.07890v2},
  year = {2016}
}
</pre>
</div>
</td>
</tr>

</table>

<!-- Item: henschelarxiv2016 -->
<!-- <li >-->
<table style="width:100%">
<tr>
<td style="width:110px;vertical-align: top;">
<img style="float: left;margin-right: 10px" border="1px solid #bbb" src="{{ site.url }}/images/papers/HenLeaRosSchArxiv2016.png" width="100px" height="100px">
</td>
<td>
<p>
R. Henschel, L. Leal-Taix&eacute;, B. Rosenhahn and K. Schindler<br />
<strong>Tracking with multi-level features</strong><br />
<i>arXiv:1607.07304 [Submitted to IEEE Transactions on Pattern Analysis and Machine Intelligence (TPAMI)]</i>,


2016.
<br />

<a href="javascript:toggleBibtex('henschelarxiv2016')">[BibTeX]</a>

<a href="https://arxiv.org/abs/1607.07304">[PDF]</a>
</p>

<div id="bib_henschelarxiv2016" class="bibtex noshow">
<pre>
@article{henschelarxiv2016,
  author = {R. Henschel and L. Leal-Taix&eacute; and B. Rosenhahn and K. Schindler},
  title = {Tracking with multi-level features},
  journal = {arXiv:1607.07304 [Submitted to IEEE Transactions on Pattern Analysis and Machine Intelligence (TPAMI)]},
  year = {2016}
}
</pre>
</div>
</td>
</tr>

</table>

<!-- Item: lealcvprw2016 -->
<!-- <li >-->
<table style="width:100%">
<tr>
<td style="width:110px;vertical-align: top;">
<img style="float: left;margin-right: 10px" border="1px solid #bbb" src="{{ site.url }}/images/papers/LeaCanSchCVPRW2016.png" width="100px" height="100px">
</td>
<td>
<p>
L. Leal-Taix&eacute;, C. Canton-Ferrer and K. Schindler<br />
<strong>Learning by tracking: siamese CNN for robust target association</strong><br />
<i>IEEE Conference on Computer Vision and Pattern Recognition Workshops (CVPR). DeepVision: Deep Learning for Computer Vision.</i>,


2016.
<br />

<a href="javascript:toggleBibtex('lealcvprw2016')">[BibTeX]</a>

<a href="https://arxiv.org/abs/1604.07866">[PDF]</a>
</p>

<div id="bib_lealcvprw2016" class="bibtex noshow">
<pre>
@article{lealcvprw2016,
  author = {L. Leal-Taix&eacute; and C. Canton-Ferrer and K. Schindler},
  title = {Learning by tracking: siamese CNN for robust target association},
  journal = {IEEE Conference on Computer Vision and Pattern Recognition Workshops (CVPR). DeepVision: Deep Learning for Computer Vision.},
  year = {2016}
}
</pre>
</div>
</td>
</tr>

</table>

<!-- Item: milanarxiv2016 -->
<!-- <li >-->
<table style="width:100%">
<tr>
<td style="width:110px;vertical-align: top;">
<img style="float: left;margin-right: 10px" border="1px solid #bbb" src="{{ site.url }}/images/papers/MilLeaReiRotSchArxiv2016.png" width="100px" height="100px">
</td>
<td>
<p>
A. Milan, L. Leal-Taix&eacute;, I. Reid, S. Roth and K. Schindler<br />
<strong>MOT16: A benchmark for multi-object tracking</strong><br />
<i>arXiv:1603.00831</i>,


2016.
<br />

<a href="javascript:toggleBibtex('milanarxiv2016')">[BibTeX]</a>

<a href="https://arxiv.org/abs/1603.00831">[PDF]</a><a href="http://www.motchallenge.net/"> [MOTChallenge]</a>
</p>

<div id="bib_milanarxiv2016" class="bibtex noshow">
<pre>
@article{milanarxiv2016,
  author = {A. Milan and L. Leal-Taix&eacute; and I. Reid and S. Roth and K. Schindler},
  title = {MOT16: A benchmark for multi-object tracking},
  journal = {arXiv:1603.00831},
  year = {2016}
}
</pre>
</div>
</td>
</tr>

</table>

<!-- Item: lealbookchapter2012 -->
<!-- <li >-->
<table style="width:100%">
<tr>
<td style="width:110px;vertical-align: top;">
<img style="float: left;margin-right: 10px" border="1px solid #bbb" src="{{ site.url }}/images/papers/LeaRosBookChapter2012.png" width="100px" height="100px">
</td>
<td>
<p>
L. Leal-Taix&eacute; and B. Rosenhahn<br />
<strong>Pedestrian interaction in tracking: the social force model and global optimization methods</strong><br />
<i>Modeling, Simulation and Visual Analysis of Crowds: A multidisciplinary perspective</i>,
Springer Berlin Heidelberg,

2013.
<br />

<a href="javascript:toggleBibtex('lealbookchapter2012')">[BibTeX]</a>

<a href="https://drive.google.com/open?id=0B1e2GU8Qot86aWtaeTNoNjJiQ0U">[PDF]</a><a href="{{ site.url }}/code"> [Code]</a>
</p>

<div id="bib_lealbookchapter2012" class="bibtex noshow">
<pre>
@article{lealbookchapter2012,
  author = {L. Leal-Taix&eacute; and B. Rosenhahn},
  title = {Pedestrian interaction in tracking: the social force model and global optimization methods},
  journal = {Modeling, Simulation and Visual Analysis of Crowds: A multidisciplinary perspective},
  publisher = {Springer Berlin Heidelberg},
  year = {2013}
}
</pre>
</div>
</td>
</tr>

</table>

<!-- Item: fenziiccv2015 -->
<!-- <li >-->
<table style="width:100%">
<tr>
<td style="width:110px;vertical-align: top;">
<img style="float: left;margin-right: 10px" border="1px solid #bbb" src="{{ site.url }}/images/papers/FenLeaOstTuyICCV2015.png" width="100px" height="100px">
</td>
<td>
<p>
M. Fenzi, L. Leal-Taix&eacute;, J. Ostermann and T. Tuytelaars<br />
<strong>Continuous Pose Estimation with a Spatial Ensemble of Fisher Regressors</strong><br />
<i>IEEE International Conference on Computer Vision (ICCV)</i>,


2015.
<br />

<a href="javascript:toggleBibtex('fenziiccv2015')">[BibTeX]</a>

<a href="https://drive.google.com/open?id=0B1e2GU8Qot86bEIzb3NzeHJKRWM">[PDF]</a>
</p>

<div id="bib_fenziiccv2015" class="bibtex noshow">
<pre>
@article{fenziiccv2015,
  author = {M. Fenzi and L. Leal-Taix&eacute; and J. Ostermann and T. Tuytelaars},
  title = {Continuous Pose Estimation with a Spatial Ensemble of Fisher Regressors},
  journal = {IEEE International Conference on Computer Vision (ICCV)},
  year = {2015}
}
</pre>
</div>
</td>
</tr>

</table>

<!-- Item: milancvpr2015 -->
<!-- <li >-->
<table style="width:100%">
<tr>
<td style="width:110px;vertical-align: top;">
<img style="float: left;margin-right: 10px" border="1px solid #bbb" src="{{ site.url }}/images/papers/MilLeaSchReiCVPR2015.png" width="100px" height="100px">
</td>
<td>
<p>
A. Milan, L. Leal-Taix&eacute;, K. Schindler and I. Reid<br />
<strong>Joint Tracking and Segmentation of Multiple Targets</strong><br />
<i>IEEE Conference on Computer Vision and Pattern Recognition (CVPR)</i>,


2015.
<br />

<a href="javascript:toggleBibtex('milancvpr2015')">[BibTeX]</a>

<a href="https://drive.google.com/open?id=0B1e2GU8Qot86S0t6VU82cUFVOG8">[PDF]</a>
</p>

<div id="bib_milancvpr2015" class="bibtex noshow">
<pre>
@article{milancvpr2015,
  author = {A. Milan and L. Leal-Taix&eacute; and K. Schindler and I. Reid},
  title = {Joint Tracking and Segmentation of Multiple Targets},
  booktitle = {CVPR},
  journal = {IEEE Conference on Computer Vision and Pattern Recognition (CVPR)},
  year = {2015}
}
</pre>
</div>
</td>
</tr>

</table>

<!-- Item: lealarxiv2015 -->
<!-- <li >-->
<table style="width:100%">
<tr>
<td style="width:110px;vertical-align: top;">
<img style="float: left;margin-right: 10px" border="1px solid #bbb" src="{{ site.url }}/images/papers/LeaMilReiRotSchArxiv2015.png" width="100px" height="100px">
</td>
<td>
<p>
L. Leal-Taix&eacute;, A. Milan, I. Reid, S. Roth and K. Schindler<br />
<strong>MOTChallenge 2015: Towards a Benchmark for Multi-Target Tracking</strong><br />
<i>arXiv:1504.01942</i>,


2015.
<br />

<a href="javascript:toggleBibtex('lealarxiv2015')">[BibTeX]</a>

<a href="https://arxiv.org/abs/1504.01942">[PDF]</a><a href="http://www.motchallenge.net/"> [MOTChallenge]</a>
</p>

<div id="bib_lealarxiv2015" class="bibtex noshow">
<pre>
@article{lealarxiv2015,
  author = {L. Leal-Taix&eacute; and A. Milan and I. Reid and S. Roth and K. Schindler},
  title = {MOTChallenge 2015: Towards a Benchmark for Multi-Target Tracking},
  journal = {arXiv:1504.01942},
  year = {2015}
}
</pre>
</div>
</td>
</tr>

</table>

<!-- Item: oliveiracmig2015 -->
<!-- <li >-->
<table style="width:100%">
<tr>
<td style="width:110px;vertical-align: top;">
<img style="float: left;margin-right: 10px" border="1px solid #bbb" src="{{ site.url }}/images/papers/OliLeaFeiRosCMIG2015.png" width="100px" height="100px">
</td>
<td>
<p>
D. A. B. Oliveria, L. Leal-Taix&eacute;, R. Q. Feitosa and B. Rosenhahn<br />
<strong>Automatic tracking of vessel-like structures from a single starting point</strong><br />
<i>Computerized Medical Imaging and Graphics</i>,


2015.
<br />

<a href="javascript:toggleBibtex('oliveiracmig2015')">[BibTeX]</a>

<a href="http://www.sciencedirect.com/science/article/pii/S0895611115001469">[PDF]</a>
</p>

<div id="bib_oliveiracmig2015" class="bibtex noshow">
<pre>
@article{oliveiracmig2015,
  author = {D.A.B. Oliveria and L. Leal-Taix&eacute; and R.Q. Feitosa and B. Rosenhahn},
  title = {Automatic tracking of vessel-like structures from a single starting point},
  journal = {Computerized Medical Imaging and Graphics},
  year = {2015}
}
</pre>
</div>
</td>
</tr>

</table>

<!-- Item: fenziwacv2015 -->
<!-- <li >-->
<table style="width:100%">
<tr>
<td style="width:110px;vertical-align: top;">
<img style="float: left;margin-right: 10px" border="1px solid #bbb" src="{{ site.url }}/images/papers/FenLeaSchOstWACV2015.png" width="100px" height="100px">
</td>
<td>
<p>
M. Fenzi, L. Leal-Taix&eacute;, K. Schindler and B. Rosenhahn<br />
<strong>Pose Estimation of Object Categories in Videos Using Linear Programming</strong><br />
<i>IEEE Winter Conference on Applications of Computer Vision (WACV)</i>,


2015.
<br />

<a href="javascript:toggleBibtex('fenziwacv2015')">[BibTeX]</a>

<a href="https://drive.google.com/open?id=0B1e2GU8Qot86U1Z2eFJvZW44TXc">[PDF]</a>
</p>

<div id="bib_fenziwacv2015" class="bibtex noshow">
<pre>
@article{fenziwacv2015,
  author = {M. Fenzi and L. Leal-Taix&eacute; and K. Schindler and B. Rosenhahn},
  title = {Pose Estimation of Object Categories in Videos Using Linear Programming},
  journal = {IEEE Winter Conference on Applications of Computer Vision (WACV)},
  year = {2015}
}
</pre>
</div>
</td>
</tr>

</table>

<!-- Item: henschelgcpr2014 -->
<!-- <li >-->
<table style="width:100%">
<tr>
<td style="width:110px;vertical-align: top;">
<img style="float: left;margin-right: 10px" border="1px solid #bbb" src="{{ site.url }}/images/papers/HenLeaRosGCPR2014.png" width="100px" height="100px">
</td>
<td>
<p>
R. Henschel, L. Leal-Taix&eacute; and B. Rosenhahn<br />
<strong>Efficient multiple people tracking using minimum cost arborescences</strong><br />
<i>German Conference on Pattern Recognition (GCPR)</i>,


2014.
<br />

<a href="javascript:toggleBibtex('henschelgcpr2014')">[BibTeX]</a>

<a href="https://drive.google.com/open?id=0B1e2GU8Qot86ZW5CSUpOclZBb2M">[PDF]</a>
</p>

<div id="bib_henschelgcpr2014" class="bibtex noshow">
<pre>
@article{henschelgcpr2014,
  author = {R. Henschel and L. Leal-Taix&eacute; and B. Rosenhahn},
  title = {Efficient multiple people tracking using minimum cost arborescences},
  journal = {German Conference on Pattern Recognition (GCPR)},
  year = {2014}
}
</pre>
</div>
</td>
</tr>

</table>

<!-- Item: lealcvpr2014 -->
<!-- <li >-->
<table style="width:100%">
<tr>
<td style="width:110px;vertical-align: top;">
<img style="float: left;margin-right: 10px" border="1px solid #bbb" src="{{ site.url }}/images/papers/LeaFenKuzRosSavCVPR2014.png" width="100px" height="100px">
</td>
<td>
<p>
L. Leal-Taix&eacute;, M. Fenzi, A. Kuznetsova, B. Rosenhahn and S. Savarese<br />
<strong>Learning an image-based motion context for multiple people tracking</strong><br />
<i>IEEE Conference on Computer Vision and Pattern Recognition (CVPR)</i>,


2014.
<br />

<a href="javascript:toggleBibtex('lealcvpr2014')">[BibTeX]</a>

<a href="https://drive.google.com/open?id=0B1e2GU8Qot86SGRtUy1iX2hmM1U">[PDF]</a><a href="https://drive.google.com/open?id=0B1e2GU8Qot86UjNoRWU2MXgwLWs"> [SUNw abstract]</a>
</p>

<div id="bib_lealcvpr2014" class="bibtex noshow">
<pre>
@article{lealcvpr2014,
  author = {L. Leal-Taix&eacute; and M. Fenzi and A. Kuznetsova and B. Rosenhahn and S. Savarese},
  title = {Learning an image-based motion context for multiple people tracking},
  journal = {IEEE Conference on Computer Vision and Pattern Recognition (CVPR)},
  year = {2014}
}
</pre>
</div>
</td>
</tr>

</table>

<!-- Item: lealthesis2014 -->
<!-- <li >-->
<table style="width:100%">
<tr>
<td style="width:110px;vertical-align: top;">
<img style="float: left;margin-right: 10px" border="1px solid #bbb" src="{{ site.url }}/images/papers/Leal-Taixe-thesis.png" width="100px" height="100px">
</td>
<td>
<p>
L. Leal-Taix&eacute;<br />
<strong>Multiple object tracking with context awareness</strong><br />


<i>Leibniz University Hannover,</i>
2014.
<br />

<a href="javascript:toggleBibtex('lealthesis2014')">[BibTeX]</a>

<a href="https://drive.google.com/open?id=0B1e2GU8Qot86dVhlclpXcjVzYU0">[PDF]</a><a href="http://arxiv.org/abs/1411.7935"> [ArXiV]</a>
</p>

<div id="bib_lealthesis2014" class="bibtex noshow">
<pre>
@phdthesis{lealthesis2014,
  author = {L. Leal-Taix&eacute;},
  title = {Multiple object tracking with context awareness},
  school = {Leibniz University Hannover},
  year = {2014}
}
</pre>
</div>
</td>
</tr>

</table>

<!-- Item: fenzicvpr2013 -->
<!-- <li >-->
<table style="width:100%">
<tr>
<td style="width:110px;vertical-align: top;">
<img style="float: left;margin-right: 10px" border="1px solid #bbb" src="{{ site.url }}/images/papers/FenLeaRosOstCVPR2013.png" width="100px" height="100px">
</td>
<td>
<p>
M. Fenzi, L. Leal-Taix&eacute;, B. Rosenhahn and J. Ostermann<br />
<strong>Class generative models based on feature regression for pose estimation of object categories</strong><br />
<i>IEEE Conference on Computer Vision and Pattern Recognition (CVPR)</i>,


2013.
<br />

<a href="javascript:toggleBibtex('fenzicvpr2013')">[BibTeX]</a>

<a href="https://drive.google.com/open?id=0B1e2GU8Qot86cTRnWGFnZ3dCQ1k">[PDF]</a>
</p>

<div id="bib_fenzicvpr2013" class="bibtex noshow">
<pre>
@article{fenzicvpr2013,
  author = {M. Fenzi and L. Leal-Taix&eacute; and B. Rosenhahn and J. Ostermann},
  title = {Class generative models based on feature regression for pose estimation of object categories},
  journal = {IEEE Conference on Computer Vision and Pattern Recognition (CVPR)},
  year = {2013}
}
</pre>
</div>
</td>
</tr>

</table>

<!-- Item: kuznetsovaiccvw2013 -->
<!-- <li >-->
<table style="width:100%">
<tr>
<td style="width:110px;vertical-align: top;">
<img style="float: left;margin-right: 10px" border="1px solid #bbb" src="{{ site.url }}/images/papers/KuzLeaRosICCVW2013.png" width="100px" height="100px">
</td>
<td>
<p>
A. Kuznetsova, L. Leal-Taix&eacute; and B. Rosenhahn<br />
<strong>Real-time sign language recognition using a consumer depth camera</strong><br />
<i>IEEE International Conference on Computer Vision (ICCV) Workshops. 3rd Workshop on Consumer Depth Cameras for Computer Vision (CDC4CV)</i>,


2013.
<br />

<a href="javascript:toggleBibtex('kuznetsovaiccvw2013')">[BibTeX]</a>

<a href="https://drive.google.com/open?id=0B1e2GU8Qot86R0Rkb0hjS1JodFE">[PDF]</a>
</p>

<div id="bib_kuznetsovaiccvw2013" class="bibtex noshow">
<pre>
@article{kuznetsovaiccvw2013,
  author = {A. Kuznetsova and L. Leal-Taix&eacute; and B. Rosenhahn},
  title = {Real-time sign language recognition using a consumer depth camera},
  journal = {IEEE International Conference on Computer Vision (ICCV) Workshops. 3rd Workshop on Consumer Depth Cameras for Computer Vision (CDC4CV)},
  year = {2013}
}
</pre>
</div>
</td>
</tr>

</table>

<!-- Item: maleschlijskibio2011 -->
<!-- <li >-->
<table style="width:100%">
<tr>
<td style="width:110px;vertical-align: top;">
<img style="float: left;margin-right: 10px" border="1px solid #bbb" src="{{ site.url }}/images/papers/MalLeaWeiFinAldClaSenRosRos2011.png" width="100px" height="100px">
</td>
<td>
<p>
S. Maleschlijski, L. Leal-Taix&eacute;, S. Weisse, A. Di Fino, N. Aldred, A. S. Clare, G. H. Sendra, B. Rosenhahn and A. Rosenhahn<br />
<strong>A stereoscopic approach for three dimensional tracking of marine biofouling microorganisms</strong><br />
<i>Microscopic Image Analysis with Applications in Biology (MIAAB)</i>,


2011.
<br />

<a href="javascript:toggleBibtex('maleschlijskibio2011')">[BibTeX]</a>

<a href="https://drive.google.com/open?id=0B1e2GU8Qot86OE8ySk13ZjRUdlk">[PDF]</a>
</p>

<div id="bib_maleschlijskibio2011" class="bibtex noshow">
<pre>
@article{maleschlijskibio2011,
  author = {S. Maleschlijski and L. Leal-Taix&eacute; and S. Weisse and A. Di Fino and N. Aldred and A. S. Clare and G. H. Sendra and B. Rosenhahn and A. Rosenhahn},
  title = {A stereoscopic approach for three dimensional tracking of marine biofouling microorganisms},
  journal = {Microscopic Image Analysis with Applications in Biology (MIAAB)},
  year = {2011}
}
</pre>
</div>
</td>
</tr>

</table>

<!-- Item: fenzidagm2012 -->
<!-- <li >-->
<table style="width:100%">
<tr>
<td style="width:110px;vertical-align: top;">
<img style="float: left;margin-right: 10px" border="1px solid #bbb" src="{{ site.url }}/images/papers/FenDraLeaRosOstDAGM2012.png" width="100px" height="100px">
</td>
<td>
<p>
M. Fenzi, R. Dragon, L. Leal-Taix&eacute;, B. Rosenhahn and J. Ostermann<br />
<strong>3D Object Recognition and Pose Estimation for Multiple Objects using Multi-Prioritized RANSAC and Model Updating</strong><br />
<i>German Conference on Pattern Recognition (GCPR)</i>,


2012.
<br />

<a href="javascript:toggleBibtex('fenzidagm2012')">[BibTeX]</a>

<a href="https://drive.google.com/open?id=0B1e2GU8Qot86c1NwQW43YTU2ZXM">[PDF]</a>
</p>

<div id="bib_fenzidagm2012" class="bibtex noshow">
<pre>
@article{fenzidagm2012,
  author = {M. Fenzi and R. Dragon and L. Leal-Taix&eacute; and B. Rosenhahn and J. Ostermann},
  title = {3D Object Recognition and Pose Estimation for Multiple Objects using Multi-Prioritized RANSAC and Model Updating},
  journal = {German Conference on Pattern Recognition (GCPR)},
  year = {2012}
}
</pre>
</div>
</td>
</tr>

</table>

<!-- Item: ponsdagm2011 -->
<!-- <li >-->
<table style="width:100%">
<tr>
<td style="width:110px;vertical-align: top;">
<img style="float: left;margin-right: 10px" border="1px solid #bbb" src="{{ site.url }}/images/papers/PonLeaTruRosDAGM2011.png" width="100px" height="100px">
</td>
<td>
<p>
G. Pons-Moll, L. Leal-Taix&eacute;, T. Truong and B. Rosenhahn<br />
<strong>Efficient and robust shape matching for model based human motion capture</strong><br />
<i>German Conference on Pattern Recognition (GCPR)</i>,


2011.
<br />

<a href="javascript:toggleBibtex('ponsdagm2011')">[BibTeX]</a>

<a href="https://drive.google.com/open?id=0B1e2GU8Qot86M0s0LXY1NDNhVm8">[PDF]</a>
</p>

<div id="bib_ponsdagm2011" class="bibtex noshow">
<pre>
@article{ponsdagm2011,
  author = {G. Pons-Moll and L. Leal-Taix&eacute; and T. Truong and B. Rosenhahn},
  title = {Efficient and robust shape matching for model based human motion capture},
  journal = {German Conference on Pattern Recognition (GCPR)},
  year = {2011}
}
</pre>
</div>
</td>
</tr>

</table>

<!-- Item: lealcvpr2012 -->
<!-- <li >-->
<table style="width:100%">
<tr>
<td style="width:110px;vertical-align: top;">
<img style="float: left;margin-right: 10px" border="1px solid #bbb" src="{{ site.url }}/images/papers/LeaPonRosCVPR2012.png" width="100px" height="100px">
</td>
<td>
<p>
L. Leal-Taix&eacute;, G. Pons-Moll and B. Rosenhahn<br />
<strong>Branch-and-price global optimization for multi-view multi-target tracking</strong><br />
<i>IEEE Conference on Computer Vision and Pattern Recognition (CVPR)</i>,


2012.
<br />

<a href="javascript:toggleBibtex('lealcvpr2012')">[BibTeX]</a>

<a href="https://drive.google.com/open?id=0B1e2GU8Qot86UDNfUGVoelNzM0k">[PDF]</a><a href="https://drive.google.com/open?id=0B1e2GU8Qot86T2psZVV3X2k4bFk"> [Poster]</a><a href="{{ site.url }}/code"> [Code]</a><a href="http://youtu.be/639bh3jVOVU"> [Video]</a>
</p>

<div id="bib_lealcvpr2012" class="bibtex noshow">
<pre>
@article{lealcvpr2012,
  author = {L. Leal-Taix&eacute; and G. Pons-Moll and B. Rosenhahn},
  title = {Branch-and-price global optimization for multi-view multi-target tracking},
  journal = {IEEE Conference on Computer Vision and Pattern Recognition (CVPR)},
  year = {2012}
}
</pre>
</div>
</td>
</tr>

</table>

<!-- Item: lealbook2012 -->
<!-- <li >-->
<table style="width:100%">
<tr>
<td style="width:110px;vertical-align: top;">
<img style="float: left;margin-right: 10px" border="1px solid #bbb" src="{{ site.url }}/images/papers/DelFraPolRosLeaBook2012.png" width="100px" height="100px">
</td>
<td>
<p>
F. Dellaert, J.-M. Frahm, M. Pollefeys, L. Leal-Taix&eacute; and B. Rosenhahn<br />
<strong>Outdoor and Large-Scale Real-World Scene Analysis</strong><br />

Springer Berlin Heidelberg,

2012.
<br />

<a href="javascript:toggleBibtex('lealbook2012')">[BibTeX]</a>

<a href="http://link.springer.com/book/10.1007%2F978-3-642-34091-8">[PDF]</a>
</p>

<div id="bib_lealbook2012" class="bibtex noshow">
<pre>
@book{lealbook2012,
  author = {F. Dellaert and J.-M. Frahm and M. Pollefeys and L. Leal-Taix&eacute; and B. Rosenhahn},
  title = {Outdoor and Large-Scale Real-World Scene Analysis},
  publisher = {Springer Berlin Heidelberg},
  year = {2012}
}
</pre>
</div>
</td>
</tr>

</table>

<!-- Item: lealdagstuhl2012 -->
<!-- <li >-->
<table style="width:100%">
<tr>
<td style="width:110px;vertical-align: top;">
<img style="float: left;margin-right: 10px" border="1px solid #bbb" src="{{ site.url }}/images/papers/LeaPonRosDagstuhl2012.png" width="100px" height="100px">
</td>
<td>
<p>
L. Leal-Taix&eacute;, G. Pons-Moll and B. Rosenhahn<br />
<strong>Exploiting pedestrian interaction via global optimization and social behaviors</strong><br />
<i>Outdoor and Large-Scale Real-World Scene Analysis</i>,
Springer Berlin Heidelberg,

2012.
<br />

<a href="javascript:toggleBibtex('lealdagstuhl2012')">[BibTeX]</a>

<a href="https://drive.google.com/open?id=0B1e2GU8Qot86ejhsMzZ2ZDhMSWs">[PDF]</a><a href="{{ site.url }}/code"> [Code]</a>
</p>

<div id="bib_lealdagstuhl2012" class="bibtex noshow">
<pre>
@article{lealdagstuhl2012,
  author = {L. Leal-Taix&eacute; and G. Pons-Moll and B. Rosenhahn},
  title = {Exploiting pedestrian interaction via global optimization and social behaviors},
  journal = {Outdoor and Large-Scale Real-World Scene Analysis},
  publisher = {Springer Berlin Heidelberg},
  year = {2012},
  volume = {7474}
}
</pre>
</div>
</td>
</tr>

</table>

<!-- Item: maleschlijskibio2012 -->
<!-- <li >-->
<table style="width:100%">
<tr>
<td style="width:110px;vertical-align: top;">
<img style="float: left;margin-right: 10px" border="1px solid #bbb" src="{{ site.url }}/images/papers/MalSenDifLeaThoTerAldGruClaRosRosBIO2012.png" width="100px" height="100px">
</td>
<td>
<p>
S. Maleschlijski, G. H. Sendra, A. Di Fino, L. Leal-Taix&eacute;, I. Thome, A. Terfort, N. Aldred, M. Grunze, A. S. Clare, B. Rosenhahn and A. Rosenhahn<br />
<strong>Three dimensional tracking of exploratory behavior of barnacle cyprids using stereoscopy</strong><br />
<i>Biointerphases</i>,


2012.
<br />

<a href="javascript:toggleBibtex('maleschlijskibio2012')">[BibTeX]</a>

<a href="https://www.researchgate.net/publication/230717042_Three_Dimensional_Tracking_of_Exploratory_Behavior_of_Barnacle_Cyprids_Using_Stereoscopy">[PDF]</a>
</p>

<div id="bib_maleschlijskibio2012" class="bibtex noshow">
<pre>
@article{maleschlijskibio2012,
  author = {S. Maleschlijski and G. H. Sendra and A. Di Fino and L. Leal-Taix&eacute; and I. Thome and A. Terfort and N. Aldred and M. Grunze and A. S. Clare and B. Rosenhahn and A. Rosenhahn},
  title = {Three dimensional tracking of exploratory behavior of barnacle cyprids using stereoscopy},
  journal = {Biointerphases},
  year = {2012}
}
</pre>
</div>
</td>
</tr>

</table>

<!-- Item: ponsdagstuhl2012 -->
<!-- <li >-->
<table style="width:100%">
<tr>
<td style="width:110px;vertical-align: top;">
<img style="float: left;margin-right: 10px" border="1px solid #bbb" src="{{ site.url }}/images/papers/PonLeaGalRosDagstuhl12.png" width="100px" height="100px">
</td>
<td>
<p>
G. Pons-Moll, L. Leal-Taix&eacute;, J. Gall and B. Rosenhahn<br />
<strong>Data-driven Manifolds for Outdoor Motion Capture</strong><br />
<i>Outdoor and Large-Scale Real-World Scene Analysis</i>,
Springer Berlin Heidelberg,

2012.
<br />

<a href="javascript:toggleBibtex('ponsdagstuhl2012')">[BibTeX]</a>

<a href="https://drive.google.com/open?id=0B1e2GU8Qot86QmFmTkpoVWlsVGs">[PDF]</a>
</p>

<div id="bib_ponsdagstuhl2012" class="bibtex noshow">
<pre>
@article{ponsdagstuhl2012,
  author = {G. Pons-Moll and L. Leal-Taix&eacute; and and J. Gall and B. Rosenhahn},
  title = {Data-driven Manifolds for Outdoor Motion Capture},
  journal = {Outdoor and Large-Scale Real-World Scene Analysis},
  publisher = {Springer Berlin Heidelberg},
  year = {2012}
}
</pre>
</div>
</td>
</tr>

</table>

<!-- Item: lealiccv2011 -->
<!-- <li >-->
<table style="width:100%">
<tr>
<td style="width:110px;vertical-align: top;">
<img style="float: left;margin-right: 10px" border="1px solid #bbb" src="{{ site.url }}/images/papers/LeaPonRosICCVW2011.png" width="100px" height="100px">
</td>
<td>
<p>
L. Leal-Taix&eacute;, G. Pons-Moll and B. Rosenhahn<br />
<strong>Everybody needs somebody: Modeling social and grouping behavior on a linear programming multiple people tracker</strong><br />
<i>IEEE International Conference on Computer Vision (ICCV) Workshops. 1st Workshop on Modeling, Simulation and Visual Analysis of Large Crowds</i>,


2011.
<br />

<a href="javascript:toggleBibtex('lealiccv2011')">[BibTeX]</a>

<a href="https://drive.google.com/open?id=0B1e2GU8Qot86RXROdThCNEVRRDg">[PDF]</a><a href="{{ site.url }}/code"> [Code]</a><a href="http://youtu.be/1DP3soJVOck"> [Video]</a>
</p>

<div id="bib_lealiccv2011" class="bibtex noshow">
<pre>
@article{lealiccv2011,
  author = {L. Leal-Taix&eacute; and G. Pons-Moll and B. Rosenhahn},
  title = {Everybody needs somebody: Modeling social and grouping behavior on a linear programming multiple people tracker},
  journal = {IEEE International Conference on Computer Vision (ICCV) Workshops. 1st Workshop on Modeling, Simulation and Visual Analysis of Large Crowds},
  year = {2011}
}
</pre>
</div>
</td>
</tr>

</table>

<!-- Item: ponsiccv2011 -->
<!-- <li >-->
<table style="width:100%">
<tr>
<td style="width:110px;vertical-align: top;">
<img style="float: left;margin-right: 10px" border="1px solid #bbb" src="{{ site.url }}/images/papers/PonBaaGalLeaMueSeiRosICCV2011.png" width="100px" height="100px">
</td>
<td>
<p>
G. Pons-Moll, A. Baak, J. Gall, L. Leal-Taix&eacute;, M. Mueller, H.-P.Seidel and B. Rosenhahn<br />
<strong>Outdoor human motion capture using inverse kinematics and von Mises-Fisher sampling</strong><br />
<i>IEEE International Conference on Computer Vision (ICCV)</i>,


2011.
<br />

<a href="javascript:toggleBibtex('ponsiccv2011')">[BibTeX]</a>

<a href="https://drive.google.com/open?id=0B1e2GU8Qot86bkVacVVyN0hsNVE">[PDF]</a><a href="https://drive.google.com/open?id=0B1e2GU8Qot86bHJHclVyUTRtRzg"> [Suppl.]</a>
</p>

<div id="bib_ponsiccv2011" class="bibtex noshow">
<pre>
@article{ponsiccv2011,
  author = {G. Pons-Moll and A. Baak and J. Gall and L. Leal-Taix&eacute; and M. Mueller and H.-P.Seidel and B. Rosenhahn},
  title = {Outdoor human motion capture using inverse kinematics and von Mises-Fisher sampling},
  journal = {IEEE International Conference on Computer Vision (ICCV)},
  year = {2011}
}
</pre>
</div>
</td>
</tr>

</table>

<!-- Item: lealdagstuhl2011 -->
<!-- <li >-->
<table style="width:100%">
<tr>
<td style="width:110px;vertical-align: top;">
<img style="float: left;margin-right: 10px" border="1px solid #bbb" src="{{ site.url }}/images/papers/LeaHeyRosRosVPCV2011.png" width="100px" height="100px">
</td>
<td>
<p>
L. Leal-Taix&eacute;, M. Heydt, A. Rosenhahn and B. Rosenhahn<br />
<strong>Understanding what we cannot see: automatic analysis of 4D digital in-line holographic microscopy data</strong><br />
<i>Video Processing and Computational Video</i>,
Springer Berlin Heidelberg,

2011.
<br />

<a href="javascript:toggleBibtex('lealdagstuhl2011')">[BibTeX]</a>

<a href="https://drive.google.com/open?id=0B1e2GU8Qot86cEc1eUlYOXh2MzQ">[PDF]</a>
</p>

<div id="bib_lealdagstuhl2011" class="bibtex noshow">
<pre>
@article{lealdagstuhl2011,
  author = {L. Leal-Taix&eacute; and M. Heydt and A. Rosenhahn and B. Rosenhahn},
  title = {Understanding what we cannot see: automatic analysis of 4D digital in-line holographic microscopy data},
  journal = {Video Processing and Computational Video},
  publisher = {Springer Berlin Heidelberg},
  year = {2011}
}
</pre>
</div>
</td>
</tr>

</table>

<!-- Item: lealdagm2010 -->
<!-- <li >-->
<table style="width:100%">
<tr>
<td style="width:110px;vertical-align: top;">
<img style="float: left;margin-right: 10px" border="1px solid #bbb" src="{{ site.url }}/images/papers/LeaHeyWeiRosRosDAGM2010.png" width="100px" height="100px">
</td>
<td>
<p>
L. Leal-Taix&eacute;, M. Heydt, S. Weisse, A. Rosenhahn and B. Rosenhahn<br />
<strong>Classification of swimming microorganisms motion patterns in 4D digital in-line holography data</strong><br />
<i>German Conference on Pattern Recognition (GCPR)</i>,


2010.
<br />

<a href="javascript:toggleBibtex('lealdagm2010')">[BibTeX]</a>

<a href="https://drive.google.com/open?id=0B1e2GU8Qot86NkpNakhwMHZhbVU">[PDF]</a><a href="http://youtu.be/y_70plXPww8?attredirects=0"> [Video]</a>
</p>

<div id="bib_lealdagm2010" class="bibtex noshow">
<pre>
@article{lealdagm2010,
  author = {L. Leal-Taix&eacute; and M. Heydt and S. Weisse and A. Rosenhahn and B. Rosenhahn},
  title = {Classification of swimming microorganisms motion patterns in 4D digital in-line holography data},
  journal = {German Conference on Pattern Recognition (GCPR)},
  year = {2010}
}
</pre>
</div>
</td>
</tr>

</table>

<!-- Item: lealwmvc2009 -->
<!-- <li >-->
<table style="width:100%">
<tr>
<td style="width:110px;vertical-align: top;">
<img style="float: left;margin-right: 10px" border="1px solid #bbb" src="{{ site.url }}/images/papers/LeaHeyRosRosWMVC2009.png" width="100px" height="100px">
</td>
<td>
<p>
L. Leal-Taix&eacute;, M. Heydt, A. Rosenhahn and B. Rosenhahn<br />
<strong>Automatic tracking of swimming microorganisms in 4D digital in-line holography data</strong><br />
<i>IEEE Workshops on Motion and Video Computing (WMVC)</i>,


2009.
<br />

<a href="javascript:toggleBibtex('lealwmvc2009')">[BibTeX]</a>

<a href="https://drive.google.com/open?id=0B1e2GU8Qot86NmE3NC1BaXZUa0U">[PDF]</a>
</p>

<div id="bib_lealwmvc2009" class="bibtex noshow">
<pre>
@article{lealwmvc2009,
  author = {L. Leal-Taix&eacute; and M. Heydt and A. Rosenhahn and B. Rosenhahn},
  title = {Automatic tracking of swimming microorganisms in 4D digital in-line holography data},
  journal = {IEEE Workshops on Motion and Video Computing (WMVC)},
  year = {2009}
}
</pre>
</div>
</td>
</tr>

</table>

<!-- Item: lealmsc2009 -->
<!-- <li >-->
<table style="width:100%">
<tr>
<td style="width:110px;vertical-align: top;">
<img style="float: left;margin-right: 10px" border="1px solid #bbb" src="{{ site.url }}/images/papers/Leal-Taixe-thesis.png" width="100px" height="100px">
</td>
<td>
<p>
L. Leal-Taix&eacute;<br />
<strong>Automatic segmentation of multi-stain histology images of arteries</strong><br />


<i>Technical University of Catalonia (UPC),</i>
2009.
<br />

<a href="javascript:toggleBibtex('lealmsc2009')">[BibTeX]</a>


</p>

<div id="bib_lealmsc2009" class="bibtex noshow">
<pre>
@mastersthesis{lealmsc2009,
  author = {L. Leal-Taix&eacute;},
  title = {Automatic segmentation of multi-stain histology images of arteries},
  school = {Technical University of Catalonia (UPC)},
  year = {2009}
}
</pre>
</div>
</td>
</tr>

</table>

<!-- Item: lealwcmpbe2009 -->
<!-- <li >-->
<table style="width:100%">
<tr>
<td style="width:110px;vertical-align: top;">
<img style="float: left;margin-right: 10px" border="1px solid #bbb" src="{{ site.url }}/images/papers/LeaCosRosBroMED2009.png" width="100px" height="100px">
</td>
<td>
<p>
L. Leal-Taix&eacute;, A. U. Coskun, B. Rosenhahn and D. Brooks<br />
<strong>Automatic segmentation of arteries in multi-stain histology images</strong><br />
<i>World Congress on Medical Physics and Biomedical Engineering</i>,


2009.
<br />

<a href="javascript:toggleBibtex('lealwcmpbe2009')">[BibTeX]</a>

<a href="https://drive.google.com/open?id=0B1e2GU8Qot86RXhSdGlZZEplRlE">[PDF]</a>
</p>

<div id="bib_lealwcmpbe2009" class="bibtex noshow">
<pre>
@article{lealwcmpbe2009,
  author = {L. Leal-Taix&eacute; and A. U. Coskun and B. Rosenhahn and D. Brooks},
  title = {Automatic segmentation of arteries in multi-stain histology images},
  journal = {World Congress on Medical Physics and Biomedical Engineering},
  year = {2009}
}
</pre>
</div>
</td>
</tr>

</table>
